* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary*/

  --primary-Very-Dark-Magenta: hsl(300, 43%, 22%);
  --primary-Soft-Pink: hsl(333, 80%, 67%);

  /* Neutral*/

  --neutral-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --neutral-White: hsl(0, 0%, 100%);
  /* Fonts*/
  --spartan-league-regular: 400;
  --spartan-league-medium: 500;
  --spartan-league-bold: 700;
  --spartan-leagye-extrabold: 800;
  font-family: "League Spartan", sans-serif;
}


body {
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-position:
    top left,
    bottom right;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
}

.love-prod {
  padding: 50px;
}

.text-user {
  font-family: "League Spartan", sans-serif;
  font-weight: var(--spartan-leagye-extrabold);
  color: var(--primary-Very-Dark-Magenta);
  font-size: 2em;
  /* margin-top: 19px; */
  margin-bottom: 50px;
  /* text-align: center; */
  line-height: normal;
}

.text-provide {
  color: var(--neutral-Dark-Grayish-Magenta);
  font-family: "League Spartan", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  font-weight: var(--spartan-league-medium);
  margin-left: -6px;
}

.star {
  margin-left: 41px;
  margin-bottom: 20px;
  width: 285px;
  height: 51px;
  padding: 13px;
  background: var(--Light-Grayish-Magenta);
  border-radius: 5px;
}

.rate-text {
  font-family: "league Spartan", sans-serif;
  font-weight: var(--spartan-league-regular);
  color: var(--primary-Very-Dark-Magenta);
  font-size: 0.7em;
  margin-left: 80px;
}

.star-int {
  color: #ffd43b;
  margin-left: 25px;
}

.star-in {
  color: #ffd43b;
}

.star-mv {
  text-align: center;
  margin-bottom: 3px;
}

.card {
  width: 17rem;
  height: 200px;
  background: var(--primary-Very-Dark-Magenta);
  border-radius: 5px;
  margin: 25px 0 0 55px;
  /*   top: 7px; */
  /*   left: 8px; */
}

/* .card-body { */
/*   display: flex; */
/*   padding: 16px; */
/* } */
/**/
.img-card-top {
  border-radius: 50%;
  position: relative;
  top: 12px;
  left: 16px;
  height: 43px;
}

.card-name {
  font-size: 11px;
  position: relative;
  top: -13px;
  left: 69px;
  display: inline;
  color: var(--neutral-White);
}

.card-desc {
  margin-left: 117px;
  margin-top: -11px;
  font-size: 11px;
  /* display: inline-block; */
  /* padding: 3px; */
  color: var(--primary-Soft-Pink);
}

.card-text {
  font-size: 1em;
  line-height: 1.3;
  font-family: "League Spartan";
  color: var(--Light-Grayish-Magenta);
  margin-top: 20px;
  padding: 20px;
}

.card-all {
  margin-bottom: 30px;
}

/*Media Query Desktop */

@media (min-width: 768px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-position:
      top left,
      bottom right;
  }

  .card-all {
    display: flex;
    align-self: flex-start;
    width: 100%;
  }

  .card-all article:nth-child(2) {
    margin-top: 20px;
  }

  .card-all article:nth-child(3) {
    margin-top: 40px;
  }

  t
  top-section {
    display: flex;
    flex-direction: row;
    padding: 90px;
  }

  .star-desk {
    width: 100%;
    margin-left: -35px;
    display: flex;
    flex-direction: column;
  }

  .love-prod {
    max-width: 450px;
  }

  .text-provide {
    font-size: 0.9em;
  }

  .star {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 21px 13px;
  }

  .star:nth-child(2) {
    align-self: center;
  }

  .star:nth-child(3) {
    align-self: self-end;
  }

  .star-mv {
    display: flex;
    align-items: center;
  }

  .rate-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 21px;
  }
}
